<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Show all students</h1>

<h2 th:each="student : ${allStudents}">
    <span>Student</span>
    <span th:text="${student.name}"></span> <br>
    <span th:text="${student.email}"></span> <br>
    <span th:text="${student.phone}"></span> <br>
    <a th:href="@{/v1/show-student/{id}(id=${student.id})}">Student</a><br>
</h2>

<br>

<h2 th:each="student : ${allStudents}">
    <span>Student</span>
    <span th:text="${'Name:' + student.name + ' Email:' + student.email + ' Phone'+ student.phone}"></span>
</h2>


</body>
</html>