<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

<!--    <style>-->
<!--        div{-->
<!--            background-size: cover;-->
<!--        }-->
<!--    </style>-->

</head>
<body>

<h1>Show all students</h1>

<p>Поиск группі по имени студента</p>
<form action="/student/group" method="post">
    <input type="text" name="search"> <br>
    <input type="submit">
</form>

<br>

<p>Поиск департамента по имени студента</p>
<form action="/student/department" method="post">
    <input type="text" name="search"> <br>
    <input type="submit">
</form>

<form action="/student/sorting" method="post">
    <label> Sorting:
        <select name="sorting" >
            <option value="">-</option>
            <option value="rating">by rating</option>
            <option value="name">by name</option>
        </select>
    </label>
    <input type="submit">
</form>

<table>
    <tr th:each="student : ${students}">
        <td>Student:</td>
<!--        <td th:style="'background-image: url('+ @{/image/{idStudent}(idStudent=${student.getId()})} + '); background-size: cover;  width: 100px; height: 100px;'"></td>-->
        <td> <img th:src="@{/image/{idStudent}(idStudent=${student.getId()})}" width="100px" alt="image"/></td>
        <td th:text="${student.name}"></td>
        <td th:text="${student.surname}"></td>
        <td th:text="${student.rating}"></td>
        <td><a th:href="@{/show-student/{id}(id=${student.id})}">Info</a></td>
        <td><a th:href="@{/student/update{id}(id=${student.id})}">Update</a></td>
        <td><a th:href="@{/student/delete{id}(id=${student.id})}">Delete</a></td>
    </tr>
</table>

</body>
</html>