<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        .error{
            color: red;
        }
        .info{
            color: #07dc93;
        }
    </style>
</head>
<body>

<div class="error" th:if="${param.error}">
    Invalid username and password.
</div>

<div class="info" th:if="${param.logout}">
    You have been logged out.
</div>


<form th:action="@{/login}" method="post">
    <div>Username:<input type="text" name="username"></div>
    <div>Password:<input type="text" name="password"></div>
    <div><input type="submit"></div>
</form>

</body>
</html>